* {
  background-color: #000000;
  color: #00F000;
  font-family: sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 28pt;
  text-align: center;
}

ul#menu {
  display: block;
  font-weight: bold;
  padding: 0;
  margin: 0 0 2px 0;
}

ul#menu li {
  background-color: #00A000;
  border-color: #00F000 #004000 #004000 #00F000;
  border-style: solid;
  border-width: 1px;
  color: #000000;
  display: inline-block;
  margin-right: 2px;
  padding: 0.5em 1em;
  text-align: center;
}

ul#menu li:hover {
  cursor: pointer;
}

ul#menu li.selected {
  background-color: #004000;
  border-color: #004000 #00F000 #00F000 #004000;
  color: #00F000;
}

ul#menu li.sub {
  padding: 0.2em 1em;
  vertical-align: bottom;
}

div.filter {
  margin: 1px 0 1px 0;
}

div.name {
  width: 100px;
}

div#outside {
  background-color: transparent;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

div#popups {
  background-color: transparent;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.popup {
  display: none;
  border-color: #00A000 #004000 #004000 #00A000;
  border-style: solid;
  border-width: 2px;
  position: absolute;
}

.popup:hover {
  cursor: pointer;
}

.popup ul {
  display: block;
  padding: 0;
  margin: 0;
}

.popup ul li {
  border: 1px solid #004000;
  display: block;
  font-weight: bold;
  padding-left: 4px;
  padding-right: 4px;
  margin: 0;
}

div#popupAbout {
  height: 300px;
  text-align: center;
  width: 368px;
}

div#popupAdd {
  height: 180px;
  width: 368px;
}

#popupPriority ul li {
  display: inline-block;
  padding: 0;
}

.styled {
  border: 1px solid #004000;
}

input.styled {
  background: inherit;
  border: 1px solid #004000;
  border-color: #004000 #004000 #004000 #004000;
}

input.styled.number {
  text-align: right;
  width: 6em;
}

input.styled[type=button] {
  background-color: #00A000;
  border-color: #00F000 #004000 #004000 #00F000;
  border-style: solid;
  border-width: 1px;
  color: #000000;
  margin-right: 2px;
  font-weight: bold;
  width: 6em;
}

div.popup div {
  display: block;
  position: relative;
}

input.styled[type=button].upload {
  position: absolute;
  right: 4px;
}

select.styled {
  background: inherit;
  height: 1.4em;
}

select.styled option {
  border: 1px solid #004000;
}

span.led {
  background-color: #00F000;
  border: 1px solid #004000;
  border-radius: 8px;
  color: #004000;
  display: inline-block;
  font-size: 1.1em;
  font-weight: 900;
  height: 13px;
  line-height: 13px;
  margin: 3px;
  overflow: hidden;
  text-align: center;
  vertical-align: text-bottom;
  width: 13px;
}

span.led:hover {
  cursor: pointer;
}

span.led[readonly]:hover {
  cursor: auto;
}

span.led.none {
  background-color: #004000;
}

span.led.low {
  text-align: left;
  line-height: 10px;
  padding-left: 3px;
  width: 10px;
}

span.upload {
  display: inline-block;
  width: 30px;
}

table {
  table-layout: fixed;
  border: 0;
  border-collapse: collapse;
  width: 100%;
}

table thead tr th {
  border: 1px solid #004000;
  text-align: left;
  white-space: nowrap;
}

table tbody tr td {
  border: 1px solid #004000;
}

col.address {
  width: 128px;
}

col.key {
  width: 256px;
}

col.port {
  width: 56px;
}

col.progress, col.rateDownload, col.rateToClient, col.rateToPeer, col.rateUpload {
  width: 80px;
}

col.flagStr {
  width: 64px;
}

col.percentDone {
  width: 68px;
}

col.menu, col.priority {
  width: 24px;
}

col.length, col.sizeWhenDone {
  width: 84px;
}

col.status {
  width: 100px;
}

col.announce, col.clientName, col.name, col.value {
  width: auto;
}

col.lastAnnounceTime, col.nextAnnounceTime, col.lastScrapeTime, col.nextScrapeTime {
  width: 152px;
}

td[readonly] {
  color: #008000;
}

td.announce, td.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td.length, td.percentDone, td.port, td.progress, td.rateDownload, td.rateToClient, td.rateToPeer, td.rateUpload, td.sizeWhenDone {
  text-align: right;
}

table#detailsTable input {
  border-width: 0;
  width: 100%;
}

table#detailsTable input[type=button] {
  border-width: 1px;
  width: 6em;
}

table#sessionTable input {
  border-width: 0;
  width: 100%;
}

table#sessionTable input[type=button] {
  border-width: 1px;
  width: 6em;
}

table#shiftTable input {
  border-width: 0;
  width: 100%;
}

table#shiftTable input[type=button] {
  border-width: 1px;
  width: 6em;
}

div#stats {
  float: right;
  font-weight: bold;
  font-size: 8pt;
  width: 14em;
}

div#stats span {
  display: inline-block;
  font-weight: inherit;
  font-size: inherit;
}

div#stats span.label {
  width: 3.5em;
}

span.drop {
  display: block;
}

td#d_errorString {
  font-weight: bold;
}